extends ../layouts/default

mixin news(news)
  .post(data-ks-editable=editable(user, { list: 'News', id: news.id }))
    h2: a(href='/notizie/' + news.slug)= news.title
    p.lead.text-muted Posted
      if news.publishDate
        | on #{news._.publishedDate.format('MMMM Do, YYYY')} 
      if news.categories && news.categories.length
        |  in 
        each cat, i in news.categories
          a(href='/notizie/' + cat.key)= cat.name
          if i < news.categories.length - 1
            | , 
          else
            |  
      if news.author
        | by #{news.author.name.first}
    if news.image.exists
      img(src=news._.image.fit(160,160)).img.pull-right
    p!= news.content.brief
    if news.content.extended
      p.read-more: a(href='/notizie/' + news.slug) Read more...

block intro
  .container
    h3= data.category ? 'Notizie - ' + data.category.name : 'Notizie'

block content
  .container: .row
    .col-sm-8.col-md-9
      if filters.category && !data.category
        h3.text-muted Invalid Category.
      else
        if data.news.results.length
          if data.news.totalPages > 1
            h4.text-weight-normal Showing 
              strong #{data.news.first}
              |  to 
              strong #{data.news.last}
              |  of 
              strong #{data.news.total}
              |  media.
          else
            h4.text-weight-normal Showing #{utils.plural(data.news.results.length, '* news')}.
          .documenti
            each m in data.news.results
              +media(m)
          
          if data.news.totalPages > 1
            ul.pagination
              if data.news.previous
                li: a(href='?page=' + data.news.previous): span.entypo.entypo-chevron-thin-left <
              else
                li.disabled: a(href='?page=' + 1): span.entypo.entypo-chevron-thin-left <
              each p, i in data.news.pages
                li(class=data.news.currentPage == p ? 'active' : null)
                  a(href='?page=' + (p == '...' ? (i ? data.news.totalPages : 1) : p ))= p
              if data.news.next
                li: a(href='?page=' + data.news.next): span.entypo.entypo-chevron-thin-right >
              else
                li.disabled: a(href='?page=' + data.news.totalPages): span.entypo.entypo-chevron-thin-right >
        else
          if data.category
            h3.text-muted There are no news items in the category #{data.category.name}.
          else
            h3.text-muted There are no news items yet.
    
    if data.categories.length
      .col-sm-4.col-md-3
        <h2 class="side"> Categories </h2>

        .list-group
          a(href='/notizie', class=!data.category ? 'active' : false).list-group-item All Categories
          each cat in data.categories
            a(href='/notizie/' + cat.key, class=data.category && data.category.id == cat.id ? 'active' : false).list-group-item= cat.name 
