extends ../layouts/default

mixin post(post)
	.post(data-ks-editable=editable(user, { list: 'Project', id: post.id }))
		h2: a(href='/progettiConferenze/project/' + post.slug)= post.title
		p.lead.text-muted Posted 
			if post.publishDate
				| on #{post._.publishedDate.format('MMMM Do, YYYY')} 
			if post.categories && post.categories.length
				|  in 
				each cat, i in post.categories
					a(href='/progettiConferenze/' + cat.key)= cat.name
					if i < post.categories.length - 1
						| , 
					else
						|  
			if post.author
				| by #{post.author.name.first}
		if post.image.exists
			img(src=post._.image.fit(160,160)).img.pull-right
		p!= post.content.brief
		if post.content.extended
			p.read-more: a(href='/progettiConferenze/project/' + post.slug) Read more...

block intro
	.container
		h3= data.category ? 'Progetti - ' + data.category.name : 'Progetti'

block content
	.container: .row
		.col-sm-8.col-md-9
			if filters.category && !data.category
				h3.text-muted Invalid Category.
			else
				if data.projects.results.length
					if data.projects.totalPages > 1
						h4.text-weight-normal Showing 
							strong #{data.projects.first}
							|  to 
							strong #{data.projects.last}
							|  of 
							strong #{data.projects.total}
							|  projects.
					else
						h4.text-weight-normal Showing #{utils.plural(data.projects.results.length, '* post')}.
					.blog
						each post in data.projects.results
							+post(post)
					
					if data.projects.totalPages > 1
						ul.pagination
							if data.projects.previous
								li: a(href='?page=' + data.projects.previous): span.entypo.entypo-chevron-thin-left <
							else
								li.disabled: a(href='?page=' + 1): span.entypo.entypo-chevron-thin-left <
							each p, i in data.projects.pages
								li(class=data.projects.currentPage == p ? 'active' : null)
									a(href='?page=' + (p == '...' ? (i ? data.projects.totalPages : 1) : p ))= p
							if data.projects.next
								li: a(href='?page=' + data.projects.next): span.entypo.entypo-chevron-thin-right >
							else
								li.disabled: a(href='?page=' + data.projects.totalPages): span.entypo.entypo-chevron-thin-right >
				else
					if data.category
						h3.text-muted There are no projects in the category #{data.category.name}.
					else
						h3.text-muted There are no projects yet.
		
		if data.categories.length
			.col-sm-4.col-md-3
				<h2 class="side"> Categories </h2>

				.list-group
					a(href='/progetti', class=!data.category ? 'active' : false).list-group-item All Categories
					each cat in data.categories
						a(href='/progetti/' + cat.key, class=data.category && data.category.id == cat.id ? 'active' : false).list-group-item= cat.name
