extends ../layouts/default

block content
  .container
    h3 Strutture nel Lazio
    p Le seguenti strutture possono rappresentare associazioni di alcolisti anonimi, comunità, SERT, AUSL, ospedali, ANCA o CAT.

  .container
    
    each structure in data.structures
      div.structure
        h4= structure.name
        <!-- h5= structure.type -->
        div 
          if structure.address
            span #{structure.address}
          if structure.city
            #{structure.city}
          if structure.phone
            span.glyphicon.glyphicon-phone-alt
            span #{structure.phone}
          if structure.website
            span.glyphicon.glyphicon-globe
            span 
              a(href=structure.website) #{structure.website}
          if structure.email
            span.glyphicon.glyphicon-envelope
            span 
              a(href="mailto:#{structure.email}") #{structure.email}